[user]
	name = Derek Huang
	email = derekh919@gmail.com
[color]
	ui = auto
[core]
	editor = vim
	autocrlf = false
	safecrlf = true
	pager = diff-so-fancy | less --tabs=2 -RFX
[push]
	default = upstream
[alias]
	ci = commit
	st = status
	br = branch
	co = checkout
	cm = checkout master
	sta = stash
	stp = stash pop
	prul = !git pull && git remote update origin --prune
	alias = config --get-regexp ^alias\\.
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[merge]
	tool = opendiff
	conflictstyle = diff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
